<div class="user-summary-report top-section">
      <div class="period-section">
        <div class="section-title">
          <h2>
            {{i18n "reputation_score"}}
          </h2>
          <PeriodChooser
            @period={{this.period}}
            @action={{action "changePeriod"}}
            @content={{this.availablePeriods}}
            @fullDay={{false}}
          />
        </div>

        <div class="section-body">
          <div class="charts">
            <AdminReport
                @dataSourceName="topics"
                @showTrend={{true}}
                @forcedModes="chart"
                @filters={{this.filters}}
            />
          </div>
        </div>
      </div>
    </div>